/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */
/* styles.css */

/* unlock-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Unlock';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/unlock-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* teko-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Teko';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/teko-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
      background-color: #768fab;
      margin: 0 auto;
}

article {
      text-align: center;
      max-width: 1000px;
      margin: 0 auto;
      padding: 10px;
      background-color: #c3c3c3;
      width: 96%;
      height: 100%;
      color: #586b81;
}

header {
      background-color: #586b81;
      border-bottom: 1px solid #ffffff;
      font-family: 'Unlock', sans-serif;
      color: #ffffff;
      position: fixed;
      width: 100%;
      z-index: 10;
      word-spacing: 40px;
}

header ul {
      list-style: none;
      display: flex;
      justify-content: left;
      flex-direction: row;
      gap: 40px;
}

header ul li {
      font-size: 40px;
      text-shadow: 1px 1px 2px #000000;
}

a {
      text-decoration: none;
      color: #ffffff;
}

h1, h2, h3 {
  font-family: 'Unlock';
}

h1 {
      padding-top: 50px;
      font-size: 80px;
      text-shadow: 2px 2px 2px #ffffff;
}

h2 {
  font-size: 50px;
  text-shadow: 2px 2px 2px #ffffff;
}

h5 {
      font-size: 43.75px;
      line-height: 0.5;
      text-shadow: 1px 1px 2px #000000;
}

h6 {
      font-family: 'Unlock';
      color: #ffffff;
      font-size: 30px;
      text-decoration: none;
      text-shadow: 1px 1px 2px #586b81;
}

p {
  font-family: 'Teko';
  font-size: 35px;
}

aside {
      width: 30%;
      float: right;
      margin: 5px;
      padding: 5px;
}

.pockets {
	margin: 0 auto;
      display: grid;
     /* grid-template-columns: repeat(1, 700px);
  	  grid-template-rows: repeat(13, 550px); */
	grid-template-columns: 1fr 1 fr 1fr;
    grid-template-rows: 950px 950px;
 	  gap: 10px 15px;
	justify-items: stretch;
}

.pockets ul {
	font-family: 'Teko';
}

.box {
	margin: 0 auto;
	border-radius: 5px;
	border: 2px white solid;
}

/* umm, i'll just comment this out for now
.box first-pocket {
	grid-row: 1 / 2;
	grid-column: 1 / span 2;
}

.box second-pocket {
	grid-row: 2 / 3;
}

.box second-pocket-mesh {
	grid-row: 3 / 4;
	grid-column: 1 / span 2;
}

.box third-pocket {
	grid-row: 4 / 5;
}

.box fourth-pocket {
	grid-row: 5 / 6;
}

.box fourth-pocket-mesh1 {
	grid-row: 6 / 7;
}

.box fourth-pocket-mesh2 {
	grid-row: 7 / 8;
}

.box fourth-pocket-mesh3 {
	grid-row: 8 / 9;
}

.box fourth-pocket-mesh4 {
	grid-row: 9 / 10;
}

.box fourth-pocket-mesh5 {
	grid-row: 10 / 11;
}

.box fourth-pocket-velcroflap1 {
	grid-row: 11 / 12;
}

.box fourth-pocket-velcroflap2 {
	grid-row: 12 / 13;
}

.box fifth-pocket {
	grid-row: 13 / end;
}
*/

footer {
      align: center;
      font-family: 'Teko', sans-serif;
      background-color: #586b81;
}

.buttons {
      border-top: 1px solid white;
      padding: 40px 0px;
      position: relative;
      text-align: center;
      width: 100%;
      color: #ffffff;
}

.buttons a {
        background: #c3c3c3;
        border: 1px solid white;
        border-radius: 3px;
        color: #586b81;
        display: inline-block;
        margin: 10px;
        padding: 14px;
        text-decoration: none;
      font-size: 35px;
}

.buttons a:hover {
        background: white;
        border: 1px solid #586b81;
        color: #586b81;
      transform: scale(1.5);
}
